
{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" >
  <div class="row">
    <div class="col-md-12">
      <div class="banner" style="background: linear-gradient(to top left, #66ff33 0%, #ffff00 100%);">
        <div class="banner-text">
          <h1>TODO</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" >
  <div class="row">
    <div class="col-md-6 " >
      <h3>Enter Your Task Here</h3>
<form method="post" class="p-4 shadow" style="background: linear-gradient(to left, #00ff00 0%, #ffff00 100%);">
  {% csrf_token %}
  <div class="form-group" >
    <input type="text" name="name"  class="form-control" placeholder="Enter Your Name">
  </div>
  <div class="form-group">
   <input type="number" name="priority" class="form-control" placeholder="Enter Your Priority">
  </div>
  <div class="form-group">
   <input type="date" name="date" class="form-control" placeholder="Enter The Date">
  </div>
  <br>

  <div class=" form-group">
  <input type="submit" class="btn btn-success">
  </div>

</form>
  </div>
    <div class="col-md-6 " >
       {% for i in task1 %}
      <h4>Task To Be Completed</h4>
      <div class="shadow card p-2 shadow">
        <div class="card-body" style="background: linear-gradient(to right, #00ff00 0%, #ffff00 100%);">

          <h5 class="card-tittle blink">{{i.name}}</h5>
          <p><b>{{i.priority}}</b></p>
          <p><b>{{i.date}}</b></p>
          <a class="btn btn-danger" style="align:center" href="{% url 'delete' i.id %}">Done</a>
          <a class="btn btn-warning" href="{% url 'update' i.id %}">Update</a>


        </div>

      </div>
      <br>
      {% endfor %}

    </div>
    <br>
</div>
  </div>

 {% endblock %}
